.wrapper {
  position: relative;
  margin: 100px auto;
  height: 50px;
  width: 50px;
  cursor: pointer;
}

.menu {
  height: 33px;
  position: absolute;
  left: 50%;
  margin-left: -18px;
  top: 50%;
  margin-top: -11px;
  width: 40px;
  z-index: 2;
}

.menu span {
  background: none repeat scroll 0 0 #fff;
    display: block;
    height: 3px;
    left: 5px;
    position: absolute;
    top: 0;
    width: 30px;
    -webkit-transition: all 500ms ease 0s;
    transition: all 500ms ease 0s;
}

.menu span:first-child {
  top: 6px;
}

.menu span:nth-child(2) {
  top: 15px;
}

.menu span:last-child {
  top: 24px;
}

.wrapper:hover .menu span:first-child {
   -webkit-transform: rotate(-45deg)        translateY(-6px) translateX(7px);
  transform: rotate(45deg) translateY(6px) translateX(6px);
}

.wrapper:hover .menu span:nth-child(2) {
    opacity: 0;
}

.wrapper:hover .menu span:last-child {
    -webkit-transform: rotate(-45deg)        translateY(-6px) translateX(7px);
    transform: rotate(-45deg)        translateY(-6px) translateX(7px);
}

.pie {
  border: 3px solid #fff;
  height: 100%;
  position: absolute;
  -webkit-transform-origin: 100% 50% 0;
  transform-origin: 100% 50% 0;
  width: 50%;
  top: 3px;
}

.spinner {
    display: none;
    -webkit-border-radius: 100% 0 0 100% / 50% 0 0 50%;
    border-radius: 100% 0 0 100% / 50% 0 0 50%;
    border-right: none;
    z-index: 200;
}

.wrapper:hover .spinner {
  display: block;
  -webkit-animation: .5s linear 0s normal none 1 running rotate;
  animation: .5s linear 0s normal none 1 running rotate;
}

.filler {
  display: none;
    border-left: none;
    -webkit-border-radius: 0 100% 100% 0 / 0 50% 50% 0;
    border-radius: 0 100% 100% 0 / 0 50% 50% 0;
    left: 27px;
    opacity: 1;
    z-index: 100;
}

.wrapper:hover .filler {
  display: block;
  -webkit-animation: .5s steps(1, end) 0s reverse none 1 running ok;
  animation: .5s steps(1, end) 0s reverse none 1 running ok;
}

.mask {
  display: none;
    background: #000;
    height: 80px;
    opacity: 0;
    position: absolute;
    width: 35px;
    z-index: 300;
    left: -5px;
}

.wrapper:hover .mask {
  display: block;
  -webkit-animation: .5s steps(1, end) 0s normal none 1 running ok;
  animation: .5s steps(1, end) 0s normal none 1 running ok;
}

@-webkit-keyframes rotate {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


@-webkit-keyframes ok {
  0% { opacity: 1; }
  50%, 100% { opacity: 0; }
}
@keyframes ok {
  0% { opacity: 1; }
  50%, 100% { opacity: 0; }
}
